body {  
    color: seashell;
    text-align: center;
    background-color: rgb(0, 0, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0.9);
    position: fixed;
  }
  
  .logo img {
    width: 200px; /* Adjust the width as needed */
    height: 50px;
    margin-left: 10px;
    
  }
  
  .navigation {
    display: flex;
  }
  
  .navlist {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .navlist li {
    padding: 5px 10px;
    text-decoration: underline;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    

  }
